body{
    background: rgb(218, 217, 217);
    font-weight: bolder;

    .contenedor{
        display: flex;
        margin: 50px auto;
        width: 60%;
        height: auto;
        background:white ;
        border-radius: 15px;
        -webkit-box-shadow: -12px 14px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: -12px 14px 5px 0px rgba(0,0,0,0.75);
        box-shadow: -12px 14px 5px 0px rgba(0,0,0,0.75);
        justify-content: center;
        align-items: center;
        padding: 25px;
        text-align: center;
        font-size: 32px;
        line-height: 50px;

        .contImg{
            width: 88%;
            height: 1020px;
            
            input{
                width: 95%;
                height: auto;
                margin: 0;
                border: none;
            }

            .input1{
                height: 27px;
                border: 1px solid black;
            }
            
            img{
                position: absolute;
                width: 700px;
                height: 1000px;
                border: 1px solid black;
                z-index: 1;
                left: 320px;
                top: 78px;
            }

            .uno{
                display: flex;
                flex-direction: column;
                position: absolute;
                padding: 0px;
                width: 105px;
                height: 148px;
                top: 139px;
                bottom: 0px;
                left: 834px;
                right: 0px;
                z-index: 2
            }

            .dos{
                display: flex;
                position: absolute;
                width: 210px;
                height: 18px;
                top: 502px;
                bottom: 0px;
                left: 400px;
                right: 0px;
                z-index: 2
            }
            
            .tres{
                display: flex;
                position: absolute;
                width: 290px;
                height: 18px;
                top: 526px;
                bottom: 0px;
                left: 440px;
                right: 0px;
                z-index: 2
            }

            .cuatro{
                display: flex;
                position: absolute;
                width: 290px;
                height: 18px;
                top: 550px;
                bottom: 0px;
                left: 420px;
                right: 0px;
                z-index: 2
            }

            .cinco{
                display: flex;
                position: absolute;
                width: 155px;
                height: 18px;
                top: 550px;
                bottom: 0px;
                left: 780px;
                right: 0px;
                z-index: 2
            }

            .seis{
                display: flex;
                position: absolute;
                width: 380px;
                height: 18px;
                top: 574px;
                bottom: 0px;
                left: 555px;
                right: 0px;
                z-index: 2
            }

            .siete{
                display: flex;
                position: absolute;
                width: 40px;
                height: 18px;
                top: 598px;
                bottom: 0px;
                left: 520px;
                right: 0px;
                z-index: 2
            }

            .ocho{
                display: flex;
                position: absolute;
                width: 320px;
                height: 18px;
                top: 702px;
                bottom: 0px;
                left: 425px;
                right: 0px;
                z-index: 2
            }

            .nueve{
                display: flex;
                position: absolute;
                width: 110px;
                height: 18px;
                top: 764px;
                bottom: 0px;
                left: 455px;
                right: 0px;
                z-index: 2
            }

            .diez{
                display: flex;
                position: absolute;
                width: 520px;
                height: 18px;
                top: 828px;
                bottom: 0px;
                left: 402px;
                right: 0px;
                z-index: 2
            }

            .once{
                display: flex;
                position: absolute;
                width: 410px;
                height: 18px;
                top: 860px;
                bottom: 0px;
                left: 515px;
                right: 0px;
                z-index: 2
            }

        }




    }

}


