* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #dad9d9;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif; }

header {
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 40px;
  border: 1px solid black;
  background: #1b1b1b;
  color: white; }

.main .seleccionado {
  background: #ccc6ba;
  background: -moz-linear-gradient(top, #baccc3 0%, #ededed 67%, white 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #baccc3), color-stop(67%, #ededed), color-stop(100%, white));
  background: -webkit-linear-gradient(top, #baccc3 0%, #ededed 67%, white 100%);
  background: -o-linear-gradient(top, #baccc3 0%, #ededed 67%, white 100%);
  background: -ms-linear-gradient(top, #baccc3 0%, #ededed 67%, white 100%);
  background: linear-gradient(to bottom, #baccc3 0%, #ededed 67%, white 100%); }
.main .costos .contenedor {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  background: white;
  margin-top: 30px;
  border-radius: 15px;
  -webkit-box-shadow: -3px 9px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -3px 9px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -3px 9px 15px 0px rgba(0, 0, 0, 0.75);
  margin-bottom: 20px; }
  .main .costos .contenedor .titulo {
    font-size: 30px;
    text-align: center;
    color: #1d1d1d;
    padding: 30px;
    border-bottom: 5px solid #dad9d9; }
  .main .costos .contenedor .datos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
    color: rgba(0, 0, 0, 0.2); }
    .main .costos .contenedor .datos label {
      font-weight: bolder;
      padding: 7px; }
    .main .costos .contenedor .datos input {
      width: 70%;
      padding: 7px;
      text-align: center;
      border-radius: 5px;
      border: 2px solid rgba(0, 0, 0, 0.1);
      color: rgba(0, 0, 0, 0.3); }
    .main .costos .contenedor .datos .contenedor2 {
      display: flex;
      justify-content: space-between;
      padding: 10px; }
    .main .costos .contenedor .datos .datos1 {
      display: block;
      width: 50%;
      padding: 10px; }
    .main .costos .contenedor .datos .datos2 {
      display: block;
      width: 50%;
      padding: 10px; }
  .main .costos .contenedor .contenedorTabla {
    padding: 20px; }
    .main .costos .contenedor .contenedorTabla input[type="button"] {
      background: url(../../img/boton.jpg);
      width: 20px;
      background-size: cover;
      border: none;
      height: 20px;
      cursor: pointer; }
      .main .costos .contenedor .contenedorTabla input[type="button"]:hover {
        -webkit-box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.75);
        transform: translate(1px); }
    .main .costos .contenedor .contenedorTabla .tabla {
      margin: auto;
      border: 1px solid black;
      border-collapse: collapse;
      margin-bottom: 30px; }
      .main .costos .contenedor .contenedorTabla .tabla tr:hover {
        background: #baccc3;
        background: -moz-linear-gradient(top, #baccc3 0%, #ededed 67%, white 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, #baccc3), color-stop(67%, #ededed), color-stop(100%, white));
        background: -webkit-linear-gradient(top, #baccc3 0%, #ededed 67%, white 100%);
        background: -o-linear-gradient(top, #baccc3 0%, #ededed 67%, white 100%);
        background: -ms-linear-gradient(top, #baccc3 0%, #ededed 67%, white 100%);
        background: linear-gradient(to bottom, #baccc3 0%, #ededed 67%, white 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#baccc3', endColorstr='#ffffff', GradientType=0 ); }
      .main .costos .contenedor .contenedorTabla .tabla td {
        border: 1px solid black;
        padding: 7px;
        text-align: center; }
      .main .costos .contenedor .contenedorTabla .tabla th {
        border: 1px solid black;
        padding: 7px;
        text-align: center; }
.main .datosGenerales {
  margin-bottom: 40px;
  display: none; }
  .main .datosGenerales input {
    width: 87%;
    padding: 7px;
    text-align: right;
    border: 2px solid black;
    border-radius: 5px; }
    .main .datosGenerales input:focus {
      -webkit-box-shadow: 0px 0px 4px 3px #3a77fa;
      -moz-box-shadow: 0px 0px 4px 3px #3a77fa;
      box-shadow: 0px 0px 4px 3x #3a77fa; }
  .main .datosGenerales label {
    font-weight: bolder; }
  .main .datosGenerales .ccatastral {
    border: 2px solid rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.3);
    border-radius: 5px; }
  .main .datosGenerales .lbccatastral {
    color: rgba(0, 0, 0, 0.3); }
  .main .datosGenerales .titulo {
    font-size: 30px;
    text-align: center;
    color: #1d1d1d;
    padding: 30px;
    border-bottom: 5px solid rgba(29, 29, 29, 0.719); }
  .main .datosGenerales .contenedor {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    margin-top: 20px; }
    .main .datosGenerales .contenedor .contenedorDatos {
      width: 70%;
      display: grid;
      grid-template-columns: 300px 1fr;
      margin-top: 40px;
      align-items: center;
      margin-left: auto;
      margin-right: auto; }
      .main .datosGenerales .contenedor .contenedorDatos div {
        padding: 7px 20px; }
        .main .datosGenerales .contenedor .contenedorDatos div #sector {
          margin-left: 243px; }
.main .docRequerida .contenedor {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  background: white;
  border-radius: 15px;
  margin-bottom: 40px;
  -webkit-box-shadow: -3px 9px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -3px 9px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -3px 9px 15px 0px rgba(0, 0, 0, 0.75); }
  .main .docRequerida .contenedor .titulo {
    font-size: 30px;
    text-align: center;
    color: #1d1d1d;
    padding: 30px;
    border-bottom: 5px solid #dad9d9; }
  .main .docRequerida .contenedor .subTitulo {
    padding: 60px; }
  .main .docRequerida .contenedor .docMain {
    width: 80%;
    height: 200px;
    border: 3px solid rgba(46, 45, 45, 0.849);
    overflow: scroll;
    margin: auto;
    padding: 30px; }
  .main .docRequerida .contenedor .footer p {
    text-align: center;
    padding: 50px; }
  .main .docRequerida .contenedor .footer .botones {
    text-align: center; }
    .main .docRequerida .contenedor .footer .botones button {
      padding: 10px 30px;
      cursor: pointer;
      background: rgba(128, 128, 248, 0.829);
      border-radius: 5px;
      border: none;
      margin: 20px; }
      .main .docRequerida .contenedor .footer .botones button:hover {
        background: #8080f8;
        -webkit-box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.75);
        transform: translate(4px);
        font-weight: bolder; }
.main .extra {
  display: none; }

@media screen and (max-width: 800px) {
  .main .costos .contenedor .datos .datos1 {
    width: 100%; }
  .main .costos .contenedor .datos .datos2 {
    width: 100%; } }

/*# sourceMappingURL=estilos.css.map */
